Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
Flask-Migrate==4.1.0
Authlib==1.6.1
Alembic==1.16.4
requests==2.32.4
PyMySQL[rsa]==1.1.1
python-dotenv==1.1.1
qrcode[pil]==8.2
pytest==8.4.1
gunicorn==23.0.0
openpyxl==3.1.5
reportlab==4.4.3
